/*General html*/
html {
	height: 100%;
}

body {
	background: black;
	size: cover;
	font-family: 'Heebo';
}
/*banner text styles*/
.banner-text {
    color: white;
    opacity: 0.9;
    font-size: 2em;
}

.banner-text a {
    opacity: .3;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.banner-text a:hover {
    opacity: 0.9;
    cursor: pointer;
}

/*navbar line break styles*/
.line-break {
    width: 100%;
    height: 5%;
    color: white;
    opacity: 0.9;
    outline: solid 1px; 
    margin-left: 2%;
    margin-top: 1%;
}

/*Resume Page Styles */
.resume-container {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.resume-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    animation: fadein 1s;
}

/*Add fade in animations */
@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        margin-top: 6%;
    }

    to   { 
        opacity: 1;
        margin-top: 2%;
    }
}