/*General html*/
html {
	height: 100%;
}

body {
	background: black;
	size: cover;
	font-family: 'Heebo';
}
/*Project Container*/
/*The main container class*/
.mainContain {

	background: linear-gradient(to bottom right, 
		rgba(75, 60, 70, .5), 
		rgba(51, 119, 136, .5));

	border-radius: 5px;
	margin: auto;
	margin-top: 2.1%;
	width: 95%;
	height: 90%;

	text-align: center;
	transition: .7s;
	box-shadow: 0 50px 50px rgba(25, 25, 25, .5);
	letter-spacing: 5px;
}

.mainContain h1 {
	opacity: 1;
	color: white;
	font-weight: 400;
	font-size: 6em;
	margin-top: -8%;
}

.mainContain a {
	opacity: .4;
	color: white;
	text-decoration: none;
	transition: 0.5s;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.mainContain a:hover {
	opacity: 1;
}

.mainContain h3 {
	opacity: 0.6;
	padding-bottom: 18%;
	color: white;
}

.navbar {
	margin-top: 2%;
}
/*the 'main' id
  styles central div */
#project h1 {
	color: white;
	font-weight: 400;
	font-size: 4em;
	padding-top: 20%;
}

#project:hover {
	width: 98%;
	box-shadow: 0 50px 50px rgba(25, 25, 25, .5);
}

/*banner text styles*/
.banner-text {
    color: white;
    opacity: 1;
    font-size: 2em;
}

.banner-text a {
    margin-left: 1%;
    opacity: .3;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.banner-text a:hover {
    opacity: 0.9;
    cursor: pointer;
}

/*navbar line break styles*/
.line-break {
    width: 100%;
    height: 5%;
    color: white;
    opacity: 0.9;
    outline: solid 1px; 
    margin-left: 2%;
    margin-top: 1%;
}

/*Resume Page Styles */
.resume-container {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.resume-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    animation: fadein 1s;
}

/*About Me Page Styles */
.about-me-container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: auto;
    width: 80%;
    height: 100%;
}

.about-me-container-img {
    display: inline;
    margin-right: auto;
    width: 40%;
}

.about-me-container-img img {
    margin-bottom: 2%;
    border-radius: 5px;
    margin-top: 2%;
    width: 30%;
    animation: fadein 1s;
}

.about-me-container-text {
    display: inline-block;
    margin-left: 5%;
    width: 40%;
    height: 500px;
}
.about-me-container-text h1 {
    display: inline;
    color: white;
    opacity: 0.3;
    size: 6em;

    margin-left: 1%;
}
.about-me-container-text h3 {
    color: white;
    opacity: 1;
    size: 6em;
    margin-left: 1%;
    line-height: 1.3;
}


/*Add fade in animations */
@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        margin-top: 6%;
    }

    to   { 
        opacity: 1;
        margin-top: 2%;
    }
}