body {
    /*sauce*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato', sans-serif;
    font-family: 'Nanum Myeongjo', serif;
}

.fade-slide-animation  {
    animation: fadeslide 3s;
}

.fade-animation {
    animation: fade 3s;
}

#authorQuery {
    opacity: 0.2;
    transition: 0.5s;
    border-bottom: none;
}

#authorQuery:hover {
    opacity: .5;
    border-bottom: solid white 1px;
}

#twitterlink {
    opacity: .2;
    transition: 0.5s;
    border-bottom: none;
}

#twitterlink:hover {
    opacity: .5;
    border-bottom: solid white 1px;
}

.mw-300 {
    max-width: 300px;
}

@media (min-width: 540px) {
    .sm\:mw-540 {
        max-width: 540px;
    }
}


/*Add fade in animations */
@-webkit-keyframes fadeslide {
    from { 
        opacity: 0;
        margin-top: 3%;
    }

    to   { 
        opacity: 1;
        margin-top: none;
    }
}

/*Add fade in animations */
@-webkit-keyframes fade {
    from { 
        opacity: 0;
    }

    to   { 
        opacity: 1;
    }
}