/*General html*/
html {
	height: 100%;
}

body {
	/*sauce*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	background: black;
	size: cover;
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
}
/*The main container class*/
.mainContain {

	background: linear-gradient(to bottom right, 
		rgb(95, 30, 12), 
		rgb(3, 60, 73));

	border-radius: 2px;
	text-align: center;
	transition: .7s;
	letter-spacing: 5px;

	animation: fadein 2s;
}

.mainContain h1 {
	opacity: 1;
	color: white;
	margin-top: -8%;
}

.mainContain a {
	color: white;
	text-decoration: none;
	opacity: 0.2;
	transition: 0.5s;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.mainContain a:hover {
	opacity: 1;
}

.mainContain h3 {
	opacity: 0.6;
	padding-bottom: 18%;
	color: white;
}

.navbar {
	margin-top: 2%;
}
/*the 'main' id
  styles central div */
#main h1 {
	color: white;
	font-weight: 400;
	padding-top: 20%;
}
/*banner text styles*/
.banner-text {
    color: white;
    opacity: 1;
	margin-left: 1%;
}

.banner-text a {
    margin-left: 1%;
    opacity: .3;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.banner-text a:hover {
    opacity: 0.9;
    cursor: pointer;
}
/*Add fade in animations */
@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
    }

    to   { 
        opacity: 1;
    }
}