/*General html*/
html {
	height: 100%;
}

body {
	background: black;
	size: cover;
	font-family: 'Heebo';
}
/*The main container class*/
.mainContain {

	background: linear-gradient(to bottom right, 
		rgba(140, 60, 70, .5), 
		rgba(51, 119, 136, .5));

	border-radius: 5px;
	margin: auto;
	margin-top: 2%;
	width: 95%;
	height: 90%;

	text-align: center;
	transition: .7s;
	box-shadow: 0 50px 50px rgba(25, 25, 25, .5);
	letter-spacing: 5px;
}

.mainContain h1 {
	opacity: 1;
	color: white;
	font-weight: 400;
	font-size: 6em;
	margin-top: -8%;
}

.mainContain a {
	opacity: .4;
	color: white;
	text-decoration: none;
	transition: 0.5s;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.mainContain a:hover {
	opacity: 1;
}

.mainContain h3 {
	opacity: 0.6;
	padding-bottom: 18%;
	color: white;
}

.navbar {
	margin-top: 2%;
}
/*the 'main' id
  styles central div */
#main h1 {
	color: white;
	font-weight: 400;
	font-size: 4em;
	padding-top: 20%;
}

#main:hover {
	width: 98%;
	box-shadow: 0 50px 50px rgba(25, 25, 25, .5);
}
/*banner text styles*/
.banner-text {
    color: white;
    opacity: 1;
    font-size: 2em;
	margin-left: 1%;
}

.banner-text a {
    margin-left: 1%;
    opacity: .3;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.banner-text a:hover {
    opacity: 0.9;
    cursor: pointer;
}
/*Add fade in animations */
@-webkit-keyframes fadein {
    from { 
        opacity: 0; 
        margin-top: 6%;
    }

    to   { 
        opacity: 1;
        margin-top: 2%;
    }
}